@import "tailwindcss";

@layer utilities {
	.scrollbar::-webkit-scrollbar {
	  width: 10px;
	  height: 10px;
	}
  
	.scrollbar::-webkit-scrollbar-track {
	  border-radius: 100vh;
	  background: #f7f4ed;
	}
  
	.scrollbar::-webkit-scrollbar-thumb {
	  background: #cbd7e0;
	  border-radius: 100vh;
	  border: 3px solid #edf3f7;
	}
  
	.scrollbar::-webkit-scrollbar-thumb:hover {
	  background: #000000;
	}
  }
  
body {
	background-color: #e6eff5;
	color: #343c6a;
}
